
/* Desktop specific styles */
@media only screen and (min-width: 769px) and (max-width: 5000px) {
    .hide-on-desktop {
        display: none !important;
    }
    /* .ui.text.container.hero { */
       /* margin-top: 0px !important; */
       /* margin-bottom: 0px !important; */
       /* margin-left: 15% !important; */
       /* margin-right: auto !important; */
    /* } */

    .masthead h1.header {
        font-size: 5em !important;
        margin-left: 20% !important;
    }

    .desktop-height-100 {
        height: 100%;
    }

    .masthead {
        background-image: url(../images/hero-bg-large.jpg) !important;
        background-position: bottom center !important;
        background-repeat: repeat-x !important;
        height: 100%;
        padding-top: 5px;
        padding-bottom: 180px;
    }
    
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1.25em;
        font-weight: 100;
        letter-spacing: 0.02em !important;
    }

    /* This hides the div on desktop!*/
    h2.ui.header {
        font-size: 2.75rem !important;
    }

    h3.ui.header {
        font-size: 2.5rem !important;
    }

    .ui.menu {
        min-height: 4.25em;
    }
    
    .ui.button.cta:hover {
        background-color: #F32067 !important;
        color: white !important;
        box-shadow: none !important;
    }

    .ui.text.container.hero {
        max-width: 860px !important;
    }
    
    h4 {
        letter-spacing: 0.02em !important;
        padding-right: 10px;
    }

    .hero > h1.header > div {
        line-height: 79px;
        width: 7em !important;
    }
        
    .crowdloan-timer {
        margin-top: 25px;
    }

    .media.grid > .row > .column,
    .media.grid > .row > .column > .card {
        height: 100%;
    }

    .demo-transfer img {
        margin-top: 15px;
    }

    .scroll-to-top {
        bottom: 30px;
        right: 15px;
    }

    /* 
     * Media 
     */
    .media .card {
        min-height: 330px;
    }
    /* End: Media */

    /* footer menu */
    .footer.segment {
        width: 100% !important;
    }
    .footer.segment:before {
        height: 80px;
    }
    .footer.segment:after {
        min-width: 190px;
        min-height: 70px;
    }
    .footer.segment *:not(:hover) {
        color: white !important;
    }
    .footer.segment .row > .item {
        display: inline-block;
        width: 19%;
        margin: 0 !important;
    }
    .footer .row > .item {
        vertical-align: top;
    }
    .footer.segment .privacy-copyright {
        text-align: right;
        position: absolute;
        right: 70px;
        bottom: 30px;
    }
    .footer.segment .row > .item > .title {
        border-bottom: 1px solid;
        display: block;
        padding-bottom: 5px !important;
    }

    /* Totem team */
    .totem-team > div.ui.grid.container {
        padding: 5em 0em 0em 8em !important;
    }
    .totem-team .ui.cards .card {
        width: 48%;
    }
    .ui.cards.advisors .card {
        width: 70%;
        margin: auto !important;
    }

    /* Technology partners */
    .technology-partners {
        min-height: 400px;
    }

    /* left and right padding for section images */
    .use-of-funds .column:first-child,
    .crowdloan .column:first-child {
        padding-right: 60px !important;        
    }

    .technology-partners {
        background-position: bottom center;
    }

}


/* Tablet and small laptop specific styles */
/* @media only screen and (min-width: 768px) and (max-width:991px) { */
/* @media only screen and (max-width:991px) { */
    /* div.hide-on-mobile {
        display: none !important;
    }

    div.ui.hide-on-mobile {
        display: none !important;
    }

    .hide-on-mobile {
        display: none !important;
    } */

    /* .mastehead {
        height: 650px;
    }
    
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 6% !important;
        font-size: 3.5em;
        font-weight: 100;
        letter-spacing: 0.02em !important;
    }

    h2.ui.header {
        font-size: 3rem !important;
    }

    h3.ui.header {
        font-size: 2.75rem !important;
    }

    .footer.segment .row > .item {
        width: 24%;
    }

    .totem-team > div.ui.grid.container {
        padding: 8em 15em !important;
        width: 800px !important;
    } */

    /* 
     * Media 
     */
    /* .media .card {
        min-height: 350px;
    } */
    /* End: Media */
/* } */