/* Mobile specific styles/overrides */

@media only screen and (max-width: 768px) { 
    .hide-on-mobile {
        display: none !important;
    }

    .ui.fixed.menu > .ui.container {
        padding: 0 15px;
    }
    
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    
    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .ui.inverted.header.landing {
        margin-top: 100px !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .masthead {
        height: 1000px; 
    }

    .masthead h1.ui.header {
        font-size: 5em;
        font-weight: 100;
        letter-spacing: 0.02em !important;
        margin-left: 10% !important;
    }

    .hero > h1.header > div {
        line-height: 1em !important;
        width: 7em !important;
    }

    h2.ui.header {
        font-size: 3rem !important;
    }

    h2.ui.header.community {
        margin-top: 20px !important;
    }

    h3.ui.header {
        font-size: 2.5rem !important;
    }


    .ui.vertical.stripe {
        /* font-size: 1.5em !important; */
        font-size: 1.25em !important;
        line-height: 1.45em !important;
    }
    
    .ui.vertical.stripe p {
        font-size: 1.25em !important;
        line-height: 1.45em !important;
    }
    
    h4 {
        font-size: 1em !important;
        line-height: 1.5em !important;
    }

    .overlay {
        display: table !important;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    
    .image-swap.swapped > .overlay {
        display: none !important;
    }
    
    .ui.button + .ui.button {
        margin-top: 5px;
    }
    
    .hero .actions a {
        width: 80%;
    }
    
    .logo-menu {
        padding-bottom: 0 !important;
        margin-top: -10px;
    }

    .mobile.sidebar .logo-menu {
        padding: 25px 15px 15px 50px !important;
    }

    .mobile.menu.sidebar {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    
    .pusher > .segment > .ui.container {
        margin-left: 25px !important; 
        margin-right: 25px !important;
    }
    
    .pusher > .ui.vertical.stripe {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    /* .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column {
        margin-right: 30px !important;   
    } */

    .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column {
        width: 90% !important;
        margin-left: 5% !important;
        padding-top: 3em !important;
        padding-bottom: 3em !important;
    }
    /* .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column {
        padding-left: 3em !important;
        padding-right: 3em !important;
    } */

    .ui.vertical.stripe.distribution-table {
        font-size: 1.25em !important;
        padding-top: 4em !important;
        padding-bottom: 3em !important;
    }
 
    .ui.vertical.stripe.use-of-funds {
        font-size: 1.25em !important;
        padding-top: 4em !important;
        padding-bottom: 3em !important;
    }

    .ui.vertical.stripe.community {
        padding-top: 0em !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 5em !important;
    }

    .ui.container.middle.aligned {
        justify-content: center;   
    }
   
    .ui.vertical.stripe.stack {
        padding-top: 3em !important;
        padding-bottom: 0em !important;
    }

    .ui.vertical.stripe.crowdloan {
        font-size: 1.25em !important;
        padding-top: 3em !important;
        padding-bottom: 0em !important;
    }
    
    .ui.grid>.row>.column>img.crowdloan-image {
        padding: 1em 1em !important;
    }
    
    .ui.vertical.stripe.technology-partners {
        font-size: 1.25em !important;
        padding-top: 2em !important;
        padding-bottom: 0em !important;
    }
    
    .ui.vertical.stripe.news {
        font-size: 1.25em !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
    
    .demo-transfer img {
        margin-bottom: 50px;
    }
    
    .footer.segment {
        padding-top: 40px;
    }
    .footer.segment > *:not(.privacy-copyright) {
        display: none;
    }

    .footer.segment > .privacy-copyright {
        margin: -24px 0 0 -35px;
    }
    .footer.segment > .privacy-copyright a {
        display: none;
    }
    
    .totem-team > div.ui.grid.container {
        padding: 1em 0em 0em 0em !important;
    }

    .totem-team .ui.cards .card {
        width: auto;
    }

    .totem-team .card .header, 
    .totem-team .card .meta {
        font-size: 2rem !important;
        line-height: 2rem;
    }
    .totem-team .card .meta {
        font-size: 1.5rem !important;
    }
    .totem-team .card .description i {
        font-size: 35px;
    }

    .totem-team .card .description img {
        width: 35px !important;
        height: 35px !important;
    }

    .ui.header.team-titles {
        text-align: center !important;
    }
    
    .totem-team .ui.cards .card .content > img {
        border: 7px solid white;
        height: 180px;
        width: 180px;
        margin-right: 20px;
    }

    .totem-team .ui.cards {
        margin-left: 0px !important;        
        margin-right: 10% !important;        
    }
    
    .technology-partners {
        padding-bottom: 120px !important;
    }

    .under {
        margin-top: -57px !important;
        margin-left: -20px !important;
    }

    .sidebar .icon-close {
        right: 30px !important;
    }

    .network {
        width: 400px !important;
    }

}

@media only screen and (max-width: 640px) {
    .masthead {
        height: 780px; 
    }
    
    .masthead h1.ui.header {
        font-size: 3.75em;
    }

    h2.ui.header {
        font-size: 2.25rem !important;
    }

    h3.ui.header {
        font-size: 2rem !important;
    }
    
    .sidebar .icon-close {
        right: 20px !important;
    }
    
    .mobile.menu.sidebar {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media only screen and (max-width: 600px) {

    .masthead h1.ui.header {
        font-size: 3.75em;
    }

    h2.ui.header {
        font-size: 2.25rem !important;
    }

    h3.ui.header {
        font-size: 2rem !important;
    }

    .timeline::after {
        margin-left: -43px !important;
    }


}

@media only screen and (max-width: 540px) {
    .masthead h1.ui.header {
        font-size: 2.55em;
    }
}

@media only screen and (max-width: 480px) {
    .masthead h1.ui.header {
        font-size: 2.25em;
    }
}

@media only screen and (max-width: 425px) {
    .masthead h1.ui.header {
        font-size: 3em !important;
        margin-left: 8% !important;
    }

    .ui.inverted.header.landing {
        margin-top: 60px !important;
    }

    h2.ui.header {
        font-size: 2rem !important;
    }

    h3.ui.header {
        font-size: 1.75rem !important;
    }

    h3.ui.header.milestone-hdr {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
        text-align: left !important;
    }

    .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column {
        padding-top: 2em !important;
        padding-bottom: 3em !important;
    }
}

@media only screen and (max-width: 393px) {
    .masthead h1.ui.header {
        font-size: 2.5em !important;
        margin-left: 12% !important;
    }
    h2.ui.header {
        font-size: 1.95rem !important;
    }
    
    .timeline-section {
        font-size: 5px !important;
        padding-top: 5px !important;
    }
    
    h2.ui.header.timeline-hdr {
        margin-top: 40px !important;
    }

    h3.ui.header {
        font-size: 1.5rem !important;
    }
    /* cards text too far from picture */
    div.ui.header.no-margin {
        margin-top: 0px !important;
    }

}

/* @media only screen and (max-width: 384px) {
    .masthead h1.ui.header {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 375px) {
    .masthead h1.ui.header {
        font-size: 1.75em;
    }
} */

@media only screen and (max-width: 353px) { 
    .masthead h1.ui.header {
        margin-left: 5% !important;
    }

    h3.ui.header {
        font-size: 1.35rem !important;
    }

    /* floating menu: fix for overflow on narrow mobile devices */
    .fixed.menu {
        zoom: 0.85;
    }
    .ui.fixed.menu > .ui.container {
        padding: 0;
    }
}

@media only screen and (max-width: 320px) {
    h1.ui.header {
       margin-top: 0px !important;
    }

    .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column {
        padding-top: 1em !important;
        padding-bottom: 3em !important;
    }

    h3.ui.header {
        font-size: 1.75rem !important;
    }

    div.eight.wide.column {
        padding-top: 0px !important;
    }

    .ui.button {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    body .ui.button.cta,
    body .ui.button.cta:focus,
    body .ui.button.cta:active {
        font-size: 0.95em !important;
    }
    
    .ui.container.crowdloan-active {
        font-size: 0.75em !important;
        text-align: center !important;
    }
}