


/* Import and apply fonts */
/* @import url('https://fonts.googleapis.com/css?family=Helvetica+Neue|Lato|Open+Sans|Oswald|Raleway|Roboto'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

body, body *:not(.icon) {
    font-family: 'Heebo', sans-serif !important;
}

a:not(.button):hover {
    color: white !important;
}

p {
    font-size: 1.2em !important;
    font-weight: 300 !important;
    line-height: 23px !important;
    text-align: left;
    letter-spacing: 0.02em !important;
}

.no-margin {
    margin: 0 !important;
}
 
.margin-auto {
    margin: auto;
}

.hidden {
    display: none !important;
}
.no-padding {
    padding: 0 !important;
}

.empty-message:not(:only-child) {
    display: none !important;
}

.align-center {
    text-align: center;
}

.float-right {
    float: right;
}

.ui.header:first-child {
    margin-top: 1em !important;
}

.ui.header.milestone-hdr:first-child {
    margin-top: 0em !important;
}

/* Image overlay (media) */
.overlay {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.overlay i.icon {
    display: table-cell;
}

*:not(:hover) > .overlay {
    display: none;
}

i.icon.totem-pink {
    color: #F32067 !important;
}
/* Overlay end */

/* Hide register button when crowdloan is not active */
body:not(.crowdloan-active) .crowdloan-active,
body:not(.crowdloan-pending) .crowdloan-pending,
body:not(.crowdloan-coming-soon) .crowdloan-coming-soon,
body:not(.crowdloan-closed) .crowdloan-closed {
    display: none;
}
body.crowdloan-active .crowdloan-active,
body.crowdloan-pending .crowdloan-pending,
body.crowdloan-coming-soon .crowdloan-coming-soon,
body .crowdloan-closed {
    display: inline-block;
}

body .ui.button.cta,
body .ui.button.cta:focus,
body .ui.button.cta:active {
    margin-left: -3px !important;
    margin-bottom: 7px !important;
    background: white !important;
    border: white 0px solid !important;
    border-radius: 0;
    color: black !important;
    font-size: 1em !important;
    /* font-weight: 500; */
    transition: all 0.2s ease-out;
}
.ui.button.cta:hover {
    background-color: #F32067 !important;
    color: white !important;
    box-shadow: none !important;
    /* border-color: #5479F4 !important; */
}

/*
* Menu styles
*/
.masthead {
    background-image: url(../images/hero-bg-large.jpg) !important;
    /* background-position: top center !important; */
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    height: 800px;
}

.masthead > .container > .menu {
    border: none !important;
}

.logo-menu img.ui.image {
    width: 125px;
}

.item-logo {
    width: 125px !important;
}

.toc.item.right {
    top: 10px !important;
    right: 0px !important;
}
.toc.item.right img {
    height: 30px;
}

.over {
    top: 4px !important;
}

.under {
    margin-top: -32px !important;
    margin-left: -20px !important;
}

.mobile-menu-spacer {
    padding-top: 40px;
    height: 40px;
}

.mobile.menu.sidebar {
    padding: 50px !important;
    /* background: url(../images/menu-mobile-bg.png) no-repeat; */
    background-size: cover;
    background: rgb(24,213,251);
    background: -moz-linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%);
    background: -webkit-linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%);
    background: linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18d5fb",endColorstr="#c4a2fc",GradientType=1);
}
.mobile.sidebar::-webkit-scrollbar {
    width: 0px;
}
.sidebar .icon-close {
    background: url(../images/menu-icon-close.png) no-repeat;
    background-size: contain;
    height: 55px;
    position: absolute;
    right: 30px;
    top: 13px;
    width: 55px;
}

.mobile.sidebar > .item:before {
    background: initial !important;
}
.mobile.sidebar > .item > .title,
.mobile.sidebar > .item > .content .item {
    color: black;
    font-size: 150% !important;
    margin: 5px;
}
.mobile.sidebar > .item > .title {
    border-bottom: 1px solid;
    display: block;
    padding: 0 0 10px 0;
    position: relative;
}
.mobile.sidebar > .item > .title > div {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 25px;
}
.mobile.sidebar > .item:not(.active) > .content {
    display: none;
}
.mobile.sidebar .privacy-copyright * {
    color: white;
    display: block;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    font-weight: 100;
    text-align: center;
}

/* floating items */
.top.fixed.menu {
    background: url(../images/hero-bg-large.jpg) 0 -10px / cover no-repeat !important;
    transition: all 0.5s ease !important
}
.scroll-to-top {
    bottom: 9px;
    position: fixed;
    right: 0px;
    z-index: 1;
}
.ui.button.scroll-to-top,
.ui.button.scroll-to-top:active,
.ui.button.scroll-to-top:focus,
.ui.button.scroll-to-top:hover {
    background-color: #5479F4 !important;
    box-shadow: none !important;
    color: white !important;
}

/* footer menu */
.footer.segment {
    background-size: 100% 100% !important;
    padding-top: 0px;
}
/* footer stripes */
.ui.stripes {
    background: url(../images/footer/stripes.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 90px;
}

/* footer logo */
    .ui.stripes:after {
    content: '';
    background: url(../images/logos/colour-full-totem-logo.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 12%;
    right: 10%;
    width: 13%;
    height: 17%;
    min-width: 150px;
    min-height: 50px;
}
.footer.segment .row {
    background: transparent !important;
}
.footer.segment .item.logo-menu {
    display: none !important;
}
.footer.segment .row > .item:before {
    content: none;
}
.footer.segment *{
    font-size: 105%;
}
.footer.segment .privacy-copyright {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    text-align: center;
}
/* Menu styles: end */

/* Hero section */
.hero {
    margin-top: 35px;
    margin-bottom: 45px;
}

.hero > h1.header > div {
    text-align: left;
    white-space: nowrap;
}
/* End: hero section */

/* Countdown section */
/* when countdown is not active and coming soon or ended message is diplayed */
.crowdloan-timer {
    margin-top: 25px;
}

/* when cowntdown is active */
.crowdloan-timer.active {
    margin-top: 75px;
}

.timer.container > .grid {
    color: black;
    margin: 0 auto 25px auto;
    max-width: 300px;
}

.crowdloan-timer .timer.container .value.column { 
    font-size: 25px;
    font-weight: 200;
    padding-top: 0px;
}
/* End: countdown section */

.demo-transfer img {
    max-height: 350px;
}

.distribution-table {
    background-color: #C0D7E5;
}

.chart-box
{
    height: 600px;
}

.network-stack {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* 
* Totem Team
*/
.totem-team {
    background-image: linear-gradient(#e27da9,#8c8eff);
    /* background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(226,125,169,1) 15%, rgba(140,142,255,0.6264880952380952) 85%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(226,125,169,1) 15%, rgba(140,142,255,0.6264880952380952) 85%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(226,125,169,1) 15%, rgba(140,142,255,0.6264880952380952) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: white;
}

.totem-team > div {
    /* background-image: linear-gradient(#E82478,#474AFF); */
    background: rgb(232,36,120);
    background: -moz-linear-gradient(180deg, rgba(232,36,120,1) 15%, rgba(71,74,255,1) 85%);
    background: -webkit-linear-gradient(180deg, rgba(232,36,120,1) 15%, rgba(71,74,255,1) 85%);
    background: linear-gradient(180deg, rgba(232,36,120,1) 15%, rgba(71,74,255,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e82478",endColorstr="#474aff",GradientType=1);
}

.totem-team .ui.cards .card {
    background: transparent;
    border: none !important;
    box-shadow: none;
    width: 100%;
    margin-left: 0 !important;
}
.totem-team .ui.cards .card .content > img {
    border: 7px solid white;
    height: 120px;
    mix-blend-mode: luminosity;
    width: 120px;
}
.totem-team .card .header {
    margin-top: 0 !important;
}
.totem-team .card .header, 
.totem-team .card .meta {
    color: white !important;
    font-size: 1.2rem !important;
    line-height: 1.75rem;
}
.totem-team .card .meta {
    font-size: 1.05rem !important;
}
.totem-team .card .description {
    white-space: nowrap;
}
.totem-team .card .description i {
    color: #493b2a;
    font-size: 25px;
    line-height: 50px;
    margin-right: 1.05rem;
}
.totem-team .card .description img {
    width: 30px !important;
    height: 30px !important;
    margin-top: -18px;
}
.totem-team .card .quote {
    display: block;
    margin-left: 116px;
    margin-top: 10px;
    color: #d4d2d2;
    font-size: 120%;
}

.ui.header.team-titles {
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
}
/* End: Totem Team */

/* Community */
.community a img {
    margin: auto;
    width: 50px;
}
/* End: Community */

/* Technology partners section */
.technology-partners img {
    margin: auto;
}
/* End: Technology partners */

/* In the news */
.pusher > .news a img {
    margin: auto;
}

/* End: In the news */

/* experimental inverted mode */
body.invert {
    filter: invert(0.9);
}
body.invert .no-invert,
body.invert img,
body.invert button {
    filter: invert(1)
}
body.invert .no-invert img {
    filter: invert(0)
}

/* Timeline CSS*/
* {
    box-sizing: border-box;
}

.timeline-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #C0D7E5;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #e535c6;
    top: 0;
    bottom: 0;
    left: 50%;
    /* margin-left: -26px; */
}

/* Container around content */
.container.milestone {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container.milestone::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -11px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #e535c6;
    border-radius: 50%;
    top: 15px;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.milestone.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: 15px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e535c6;
}

/* Add arrows to the right container (pointing left) */
.milestone.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: 15px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent #e535c6 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -9px;
}

/* The actual content */
.content-milestone {
    padding: 15px 15px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow:inset 0px 0px 0px 1px #e535c6;
    -moz-box-shadow:inset 0px 0px 0px 1px #e535c6;
    box-shadow:inset 0px 0px 0px 1px #e535c6;
}

h3.ui.header.milestone-hdr {
    font-size: 1.75em !important;
    margin-bottom: 0;
}

p.milestone-text {
    font-size: 1.25em !important;
    font-weight: 300 !important;
    line-height: 1.5em !important;
    text-align: left;
    letter-spacing: 0.02em !important;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 68px;
    }
    
    /* Full-width containers */
    .container.milestone {
        width: 100%;
        padding-left: 45px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container.milestone::before {
        left: 40px;
        border: medium solid #e535c6;
        border-width: 10px 10px 10px 0;
        border-color: transparent #e535c6 transparent transparent;
    }
    
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
 
    h3.ui.header.milestone-hdr {
        font-size: 1.2em !important;
        margin-bottom: 0;
    }

    p.milestone-text {
        font-size: 0.9em !important;
        font-weight: 300 !important;
        line-height: 18px !important;
        text-align: left;
        letter-spacing: 0.02em !important;
    }
}
