/* Template Styles */
.hidden.menu {
    display: none;
}

.wrap-text {
    white-space: normal !important;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.ui.button {
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 400 !important;
    color: black !important;
    background-color: white !important;
    border-radius: .28571429rem !important;
}

.ui.button:hover {
    background-color: #5479F4 !important;
    color: white !important;
    box-shadow: none !important;
}

.ui.blue.button:hover {
    background-color: white !important;
    color: #5479F4 !important;
    box-shadow: none !important;
}

.ui.blue.button {
    background-color: #5479F4 !important;
    color: white !important;
    box-shadow: none !important;
}

.ui.menu .item {
    font-weight: 400;
    left: 0px;
}
.ui.menu.item.borderless {
    background: none;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: rgba(255,255,255,);
    align-self: unset !important;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: 100;
}

.ui.vertical.stripe {
    padding-top: 5em;
    padding-bottom: 5em;
}

.ui.vertical.stripe.community {
    padding-top: 10em !important;
}

.ui.vertical.stripe.stack {
    padding-top: 8em !important;
    padding-bottom: 6em !important;
}

.ui.vertical.stripe.crowdloan {
    padding-top: 4em !important;
    padding-bottom: 8em !important;
}

.ui.vertical.stripe.distribution-table {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
}

.ui.vertical.stripe.use-of-funds {
    padding-top: 12em !important;
    padding-bottom: 12em !important;
}

.ui.vertical.stripe.technology-partners {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.ui.vertical.stripe.news {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    background: rgb(24,213,251) !important;
    background: -moz-linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%) !important;
    background: -webkit-linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%) !important;
    background: linear-gradient(350deg, rgba(24,213,251,1) 0%, rgba(108,188,251,1) 65%, rgba(196,162,252,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18d5fb",endColorstr="#c4a2fc",GradientType=1) !important;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.segment.community-cards {
    padding: 0em 0em !important;
    border: 0px solid rgb(255, 255, 255) !important;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 0%) !important;
}

.ui.segment.architecture-cards {
    padding: 0em 0em !important;
    border: 0px solid rgb(255, 255, 255) !important;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 0%) !important;
}

.ui.grid>.row>.column>img.crowdloan-image {
    padding: 5em 5em !important;
}

.network {
    height: 250px !important;
}

/* changes the navbar to from mobile normal at pixel 768*/
/* @media only screen and (max-width: 768px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        margin-top: 1em;
        margin-left: 20px;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
} */
/* End: Template Styles */